* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: "Press Start 2P", monospace;
  box-sizing: border-box; 
}
body,
html {
  height: 100%;

}

#pets{
  display:flex;
  position:relative;
  flex-wrap:wrap;
  justify-content: center;
  gap:2rem;
  margin:15% 0 0 0;
  padding:2rem 9%;
}
#background-container {
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1; 
  background-image:url(d89fe76b-b296-4531-88b6-124fa816b906.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  
}


.pet-div {
  background: rgba(202, 210, 225, 0.1);
 display:flex;
 flex-direction: column;
  align-items: center;
  text-align: center;
 padding:2rem;
 margin:2rem;
 height:25%;
  width:25%;
  border-radius:16px;
 justify-content: center;
 gap:2rem;
 color:white;
 font-size:1em;

}
.pet-text {

  font-weight: 700;
}
.pet-age {

  font-weight: 700;
}
input{
  align-items: center;
  justify-content: center;
 width:100%;
}
.pet-image {
  border: solid #1a3155 8px;
  border-radius: 50%;
  width:40%;
}
.text-content{
  font-size:5em;
  position: absolute;
  top: 12%; 
  left: 50%; 
  width:80%;
  transform: translate(-50%, -50%); 
  z-index: 2; 
  text-align: center; 
  align-items: center;
  display: flex;
  justify-content: center;
  color:white;

}
h1{
  font-size:0.8em;
}



@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }


}

/* oval shape: width:160px;
height:250px; */
